@import "tailwindcss";

@theme {
  --font-serif: var(--font-lora), "Times New Roman", serif;
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui;
  --color-green-600: #16a34a;
  --color-green-700: #15803d;
}

/* ========================================================
   ẨN THANH CUỘN TOÀN CỤC (GLOBAL RESET)
   ======================================================== */
* {
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE, Edge cũ */
}

*::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari, Edge mới */
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    @apply font-sans text-sm antialiased;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-lora), serif !important;
    @apply font-black tracking-tight text-slate-900 italic;
  }
}
